@import 'react-toastify/dist/ReactToastify.css';

.Dashboard-container {
  text-align: center;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    animation: fadeInDown 0.5s ease;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    animation: fadeInUp 0.5s ease;

    input {
      margin-bottom: 10px;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }

    button {
      padding: 8px 16px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      animation: slideInLeft 0.5s ease;
    }

    button:hover {
      background-color: #0056b3;
    }
  }

  .emailList {
    font-size: 20px;
    margin-bottom: 10px;
    animation: fadeInDown 0.5s ease;
  }

  .listEmails {
    .field {
      h3 {
        font-size: 16px;
        font-weight: bold;
      }
    }

    .users {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      transition: background-color 0.3s ease;
      animation: slideInRight 0.5s ease;

      p {
        flex: 1;
        margin-right: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      button {
        padding: 4px 8px;
        background-color: #dc3545;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      button:hover {
        background-color: #b30018;
      }
    }
  }
}

.ToastContainer {
  .Toastify__toast {
    font-size: 14px;
    border-radius: 4px;
    padding: 10px;
    animation: toastSlideIn 0.3s ease;
  }

  .Toastify__toast--success {
    background-color: #28a745;
  }

  .Toastify__toast--error {
    background-color: #dc3545;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes toastSlideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  background-color: lightblue;
}